*{padding: 0;margin: 0;box-sizing: border-box;}

body{font-family: 'Poppins', sans-serif;font-size: 18px;}

li{list-style-type: none;}

.button{
  display: inline-block; font-family: 'Poppins'!important; font-weight: 700; line-height: 120%; letter-spacing: 10%; border-radius: 5px; border: none; text-transform: uppercase;
}
/* Banner Section */
.me-banner{background-color: #9cddef;display: flex;}

.me-banner-left{display: flex;flex-direction: column;width: 50%;
align-items: center;justify-content: center;min-height: 100%;position: relative;
margin: 2%;
}
.me-banner-right{width: 50%;}
.me-banner-right img{width: 100%;min-height: 100%;border-top-left-radius: 10px;}
.me-banner-left{background-image: url('../public/images/pngegg.png');background-repeat: no-repeat;    background-size: 100%;}
.me-banner-left-inner-container h2{font-size: 2rem;}
.me-banner-left-inner-container h3{font-size: 2rem;margin: 10px 0; }
.me-banner-left-inner-container p{font-size: 1rem;margin: 10px 0;}
.me-banner svg{
  transform: rotate(-90deg)
 }
 .me-svg-container{
  transform: rotate(-90deg);
 }
 .me-svg-inner-container { height: 250%; width: 247px; top: -80px; left: unset; right: -125px;z-index: 10;position: absolute; }
.button-home-banner{  padding: 16px 30px;  background-color: #141414; color: #fff;margin-top: 30px;min-width: 224px;font-size: 1.1rem;}
.bg-wave{width: 100%;height: 100%;}
svg path{fill: red;}

/* Banner Ad Section */
.me-banner-ad{background-color: black;display: flex;align-items: center;justify-content: center ;}
.me-banner-ad-container ul{display: flex;}
.me-banner-ad-container ul li{margin-right: 8%;}
.me-banner-ad-container-list{display: flex;align-items: center;justify-content: left;color: white ;padding: 0.5% 5%;}
.me-banner-ad-container-list i{margin-right: 5px;font-size: 0.75rem;}

/* About us container */
.me-aboutus-container{
  margin-top: 3%;
}
.me-aboutus-left{
  width: 50%;
  padding: 30px;
}
.me-aboutus-right{
  width: 50%;
  background-image: url('../public/images/pngegg.png');background-repeat: no-repeat;
  padding: 15px; background-size: 80%;
  margin: 2%;
}
.me-aboutus-right-inner-container{
  padding: 30px;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.me-aboutus-left-inner-container>form>label{
  font-size: 1rem;
  margin-right: 5%;
}
.me-aboutus-left-inner-container>form{
background-color: #fff;
padding: 3rem;
margin: 10px 0;
}
input{
  padding: 10px;
  border: none;
  background-color: #ececec;
  border-radius: 5px;
  width: 100%;
}
input:focus{
  outline: 1px solid #ccc4c4;
}
.me-btn-form{
  padding: 3px 20px;
  background-color: #3c6aaf;
  border: none;
  height: 40px;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 4%;
  text-align: center;
  border-radius: 5px;
}
.me-btn-form:hover{
  cursor: pointer;
}
/* Why us section */
.me-whyus-container{
  margin-top: 3%;
  background-color: #9cddef;
}
.me-whyus-header{
  font-size: 1.2rem;
  text-align: center;
  padding-top: 20px;
}
.me-whyus-headercontent{
  display: flex;
  flex-direction: row;
  margin: 2%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.me-whyus-subcontent{
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
}


@media  (max-width: 768px) {
  .me-banner{
    flex-direction: column;
  }
  .me-banner-left{
    width: 100%; 
  }
  .me-banner-left-inner-container{
    justify-content: center; padding: 25px; align-items: center; text-align: center;
  }
  .me-banner-left-inner-container h3{
    font-size: 1.8rem;
  }
  .me-banner-right{
    width: 100%;
  }
  .me-aboutus-left,.me-aboutus-right{
    width: 100%;
    padding:15px
  }
  .me-aboutus-right{
    background-size: 100%;
  }

  .me-whyus-headercontent{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding:10px;
    align-items: center;
    text-align: center;
  }
  .me-whyus-subcontent{
    padding: 15px 0;
  }
  
  
}