* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  font-family: 'Poppins' !important;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 10%;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

/* Banner Section */
.me-banner {
  margin: 0;
  padding: 0;

}

#mebanner1 {
  display: block;
  max-width: 100%;
}

#mebanner2 {
  display: none;
  max-width: 100%;
}


.me-banner-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
  margin: 2%;
}

.me-banner-right {
  width: 50%;
}

.me-banner-right img {
  width: 100%;
  min-height: 100%;
  border-top-left-radius: 10px;
}

.me-banner-left {
  background-image: url('../public/images/pngegg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.me-banner-left-inner-container h2 {
  font-size: 2rem;
}

.me-banner-left-inner-container h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.me-banner-left-inner-container p {
  font-size: 1rem;
  margin: 10px 0;
}

.me-banner svg {
  transform: rotate(-90deg)
}

.me-svg-container {
  transform: rotate(-90deg);
}

.me-svg-inner-container {
  height: 250%;
  width: 247px;
  top: -80px;
  left: unset;
  right: -125px;
  z-index: 10;
  position: absolute;
}

.button-home-banner {
  padding: 16px 30px;
  background-color: #141414;
  color: #fff;
  margin-top: 30px;
  min-width: 224px;
  font-size: 1.1rem;
}

.bg-wave {
  width: 100%;
  height: 100%;
}

svg path {
  fill: red;
}

/* Banner Ad Section */
.me-banner-ad {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: .5rem;
  box-sizing: border-box;
}

.me-banner-ad-container ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.me-banner-ad-container ul li {
  padding: 0 1.8rem;
  display: inline-block;
  width: 100%;
}

.me-banner-ad-container-list {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  padding: 0.5% 1%;
}

.me-banner-ad-container-list i {
  margin-right: 5px;
  font-size: 0.75rem;
}

/* About us container */
.me-aboutus-container {
  margin-top: 3%;
}

.me-aboutus {
  background-color: #fff;
  display: flex;
}

.me-aboutus-left {
  width: 50%;
  padding: 30px;
}

.me-form-header {
  color: #785424;
}

.me-aboutus-right {
  width: 50%;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
  padding: 1%;
}

.me-aboutus-img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
}

/* .me-aboutus-right-inner-container {
  padding: 5%;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
  line-height: 2rem;
  color: #785424;
} */

/* .me-aboutus-right-inner-container h2 {
  padding-bottom: 1rem;
  color: #80c342;
} */

.me-form-header {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 10px;
  margin: 1rem;
}

/* Why us section */
.me-whyus-container {
  margin-top: 3%;
  background-color: #fff;
}

.me-whyus-banner {
  color: #785424;
}

.me-whyus-header {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 20px;
}

.me-whyus-header h2 {
  color: #80c342;
}

.me-whyus-headercontent {
  display: flex;
  flex-direction: row;
  margin: 2%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.me-whyus-subcontent {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
}

/* EmbedVideo */
.me-embed-container {
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.me-video-responsive {
  display: block;
}

.me-video-responsive iframe {

  max-height: 100%;
  max-width: 100%;
}

/* Accordian */
.me-accordion-container {
  max-width: 650px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #e4bd34;
  border-radius: 5px;
  font-size: 1rem;
}

.accordion-title:hover {
  background-color: #f5d04d;
}

.accordion-title,
.accordion-content {
  padding: .7rem 1.2rem;
}

.accordion-content {
  background-color: #eeeeee;
  border-radius: 5px;
  font-size: .9rem;
  opacity: 1;
  transition: opacity .5s ease-in;
}

@media (max-width: 768px) {
  .me-video-responsive iframe {

    max-height: 300px;
    max-width: 100%;
  }

  .me-banner {
    flex-direction: column;
  }

  .me-banner-left {
    width: 100%;
  }

  .me-banner-left-inner-container {
    justify-content: center;
    padding: 25px;
    align-items: center;
    text-align: center;
  }

  .me-banner-left-inner-container h3 {
    font-size: 1.8rem;
  }

  .me-banner-right {
    width: 100%;
  }

  #mebanner1 {
    display: none;
  }

  #mebanner2 {
    display: block;
  }

  .me-banner-ad {
    flex-wrap: wrap;
    padding: 1%;
  }

  .me-banner-ad-container ul {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .me-banner-ad-container ul li {
    padding: 0 1rem;
    display: inline-block;
    width: 33%;
    font-size: 1rem;
  }

  .me-aboutus {
    display: flex;
    flex-direction: column;
  }

  .me-aboutus-left,
  .me-aboutus-right {
    width: 100%;
    padding: 15px
  }

  .me-aboutus-right {
    background-size: 43%;
    background-position: 95% 100%;
  }

  .me-whyus-headercontent {
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .me-whyus-subcontent {
    padding: 15px 0;
  }

  .me-accordion-container {
    width: 90%;
  }


}